/*-COMMON-*/
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.filter-form {
    @include indent();
    @include flex();
    flex-direction: column;
}

.filter-form__fieldset {
  padding: 0;
  border: 0 none;
  margin: 0;
  margin-bottom: 5px;
}

.filter-form__legend {
  /*FONT*/
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #1F2041;
  width: 100%;
  margin: 0;
  padding: 0.5em 0.2em;
}

.filter-form__input-container {
  position: relative;
  @include indent();
  cursor: pointer;
}

.filter-form__input-container::after {
  content: "";
  position: absolute;
  top: 28%;
  right: 5%;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid $shade-75;
  border-right: 1px solid $shade-75;
  transform: rotate(45deg);
}

.filter-form__input {
  width: 100%;
  @extend .form-field;
  font-size: 14px;
  line-height: 1.7;
  padding: 0.6em;
  margin-bottom: 1em;
}

.filter-form .filter-form__label {
  position: relative;
  font-style: normal;
  font-size: 12px;
  line-height: 0.5;
  color: rgba(31, 32, 65, 0.75);
  text-transform: none;
}


/*-GUESTS-*/

.filter-form__fieldset--guests {
  margin-bottom: 10px;
}

/* jQuery Slider */

/* Ширина слайдера */
#slider {
	width: 100%;
}

/* Контейнер слайдера */
.ui-slider {
	position: relative;
}

/* Ползунок */
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
  width: 18px;
  height: 18px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid $white-color;
  border-radius: 10px;
	cursor: pointer;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */

.ui-slider-horizontal {
	 height: 6px;
}

/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
	top: -7px;
	margin-left: -6px;
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
	border: 1px solid #D4D4D4;
	background: #fff;
}

/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

/* скругление для полосы слайдера */
.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* RANGE*/

.filter-form__fieldset-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.filter-form__legend--range {
  letter-spacing: 0.08em;
}

.filter-form__range-inputs {
  @include flex();
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.filter-form__range-inputs input {
  border: 0 none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(31, 32, 65, 0.5);
}

.filter-form__range-price {
  max-width: 42px;
}

.filter-form__range-span {
  /*FONT*/
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(31, 32, 65, 0.5);
  letter-spacing: 0.07em;
  padding-top: 5px;
}

.filter-form__range-text {
  /*FONT*/
  font-size: 12px;
  line-height: 1.5;
  color: rgba(31, 32, 65, 0.5);
  letter-spacing: 0.06em;
  padding: 0.5em 0;
}

.filter-form__range-controls {
  position: relative;
  width: 100%;
  margin: 0;
}

/*-CHECKBOX-*/

.filter-form__fieldset--checkbox {
  @include flex();
  flex-direction: column;
  margin-bottom: 1.5em;
  padding-left: 2em;
  align-items: center;
}

.filter-form__fieldset--checkbox .filter-form__legend {
  margin-left: -2em;
}

.filter-form__checkbox {
  position: absolute;
  top: -3px;
  left: -2em;
  width: 20px;
  height: 20px;

  background: $white-color;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.filter-form__checkbox--hidden:focus + .filter-form__checkbox {
  outline: 1px solid blue;
}

.filter-form__checkbox--hidden:checked + .filter-form__checkbox {
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.615234' width='19' height='19' rx='3.5' fill='white' stroke='%23BC9CFF'/%3E%3Cpath d='M6.46439 8.40768L10.707 12.6503L9.29282 14.0645L5.05018 9.82189L6.46439 8.40768Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M13.5355 6.99347L14.9497 8.40768L9.29282 14.0645L7.8786 12.6503L13.5355 6.99347Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='12.8284' y1='6.28636' x2='7.1715' y2='11.9432' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='12.8284' y1='6.28636' x2='7.1715' y2='11.9432' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.filter-form__group {
    margin: 0;
    padding: 0.5em 0;
}

/*-ALLY-*/

.filter-form__fieldset--ally {
  padding-right: 0;
  margin-bottom: 1em;
}

.filter-form__fieldset--ally .filter-form__legend {
  margin-bottom: 4%;
  font-weight: 700;
}

.filter-form__fieldset--ally .filter-form__group {
  padding: 0;
  width: 100%;
  margin-bottom: 0.8em;
}

.filter-form__fieldset--ally .filter-form__label {
  margin: 0;
}

.filter-form__fieldset--ally .filter-form__paragraph {
  width: 100%;
  color: rgba(31, 32, 65, 0.5);
  /*FONT*/
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.1em;

  margin: 0;
}

.filter-form__fieldset--checkbox .filter-form__group {
  @include indent();
  padding: 0.5em 0.2em;
  padding-bottom: 0;
}

.filter-form__fieldset--checkbox  .filter-form__label {
  /*FONT*/
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

/*-COMFORT-*/

.filter-form__fieldset--comfort {
  position: relative;
  margin-bottom: 10px;
}

.filter-form__fieldset--comfort .room-dropdown {
  display: none;

  position: absolute;
  width: 100%;
  left: 0;
  top: 75%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background-color: #ffffff;
  z-index: 10;
}

/*BOTTOM*/

.filter-form__bottom {
  position: relative;
}

.filter-form__bottom-flex {
  @include indent();
  @include flex();
  justify-content: space-between;
  align-items: baseline;
}

.modal-close {
  display: none;
}

.filter-form__div {
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
}

.filter-form__div .filter-form__label {
  color: rgba(31, 32, 65, 0.5);
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  padding-left: 2.5em;
}

.filter-form__div .filter-form__checkbox {
  left: 0.5em;
}

.filter-form__legend--add {
  padding: 0.2em;
  padding-bottom: 2em;
  width: 85%;
}

.filter-form__dropdown-btn {
  @include indent();
  width: 8px;
  height: 8px;
  margin-right: 15px;
  border: 0;
  border-right: 1px solid rgba(31, 32, 65, 0.5);
  border-bottom: 1px solid rgba(31, 32, 65, 0.5);
  transform: rotate(45deg);
  background-color: transparent;
  box-shadow: 0 none;
  cursor: pointer;
}





