div.search-form__dropdown
   div.search-form__dropdown-top
    table.search-form__dropdown-table
     tr.search-form__dropdown-row
      th Спальни
      td
       button(type='button' aria-label="Уменьшить количество").search-form__dropdown-btn -
       input(type='text' size='2' id='adults' name='adults-count' value='2').search-form__dropdown-input
       button(type='button' aria-label='Увеличить количество').search-form__dropdown-btn +
     tr.search-form__dropdown-row
      th Кровати
      td
       button(type='button' aria-label="Уменьшить количество").search-form__dropdown-btn -
       input(type='text' size='2' id='kids' name='kids-count' value='2').search-form__dropdown-input
       button(type='button' aria-label='Увеличить количество').search-form__dropdown-btn +
     tr.search-form__dropdown-row
      th Ванные комнаты
      td
       button(type='button' aria-label="Уменьшить количество").search-form__dropdown-btn -
       input(type='text' size='2' id='babies' name='babies-count' value='0').search-form__dropdown-input
       button(type='button' aria-label='Увеличить количество').search-form__dropdown-btn +