include ../dropdown/dropdown.pug

div.filter-form
 form
  fieldset.filter-form__fieldset.filter-form__fieldset--dates
   legend.filter-form__legend Даты пребывания в отеле
   div.filter-form__input-container
    div.filter-form__datepicker-arrow
    input(id="filterDates" class='filter-form__input datepicker-here' type='text' name='dates' placeholder='19 авг - 23 авг')
  fieldset.filter-form__fieldset.filter-form__fieldset--guests
   legend.filter-form__legend Гости
   div.filter-form__input-container
    div.filter-form__input-arrow
    input(class='filter-form__input' id='guestsInput' type='text' name='guests' placeholder='3 гостя, 1 младенец')
    +dropdown('Guests', 'Взрослые', 2, 'Дети', 2, 'Младенцы', 0, true)
  fieldset.filter-form__fieldset.filter-form__fieldset--range
   div.filter-form__fieldset-header
    legend.filter-form__legend.filter-form__legend--range Диапазон цены
    div.filter-form__range-inputs
     input(class='filter-form__range-price filter-form__range-price--min' type='text' id='minCost' value='5000')
     span.filter-form__range-span ₽
     input(class='filter-form__range-price filter-form__range-price--max' type='text' id='maxCost' value='10000')
     span.filter-form__range-span ₽
   div(class='ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all' id='slider')
   p.filter-form__range-text Стоимость за сутки пребывания в номере
  fieldset.filter-form__fieldset.filter-form__fieldset--checkbox
   legend.filter-form__legend Checkbox Buttons
   div.filter-form__group
    label.filter-form__label Можно курить
     input(class='filter-form__checkbox--hidden visually-hidden' type='checkbox' name='smocking')
     span.filter-form__checkbox
   div.filter-form__group
    label.filter-form__label Можно с питомцами
     input(class='filter-form__checkbox--hidden visually-hidden' type='checkbox' name='pets')
     span.filter-form__checkbox
   div.filter-form__group
    label.filter-form__label Можно пригласить гостей (до 10 человек)
     input(class='filter-form__checkbox--hidden visually-hidden' type='checkbox' name='guests' checked)
     span.filter-form__checkbox
  fieldset.filter-form__fieldset.filter-form__fieldset--checkbox.filter-form__fieldset--ally
   legend.filter-form__legend Доступность
   div.filter-form__group
    label.filter-form__label Широкий коридор
     input(class='filter-form__checkbox--hidden visually-hidden' type='checkbox' name='Wide corridor')
     span.filter-form__checkbox
     p.filter-form__paragraph Ширина коридоров в номере не менее 91 см.
   div.filter-form__group
    label.filter-form__label Помощник для инвалидов
     input(class='filter-form__checkbox--hidden visually-hidden' type='checkbox' name='Disabled Assistant')
     span.filter-form__checkbox
     p.filter-form__paragraph На 1 этаже вас встретит специалист и проводит до номера.
  fieldset.filter-form__fieldset.filter-form__fieldset--comfort
   legend.filter-form__legend Удобства номера
   div.filter-form__input-container
    div.filter-form__input-arrow
    //-label
    input(class='filter-form__input' id='comfortInput' type='text' name='comfort' placeholder='2 спальни, 2 кровати... ')
    +dropdown('Comfort', 'Спальни', 2, 'Кровати', 2, 'Ванные комнаты', 0, false)
  fieldset.filter-form__fieldset.filter-form__bottom
   div.filter-form__bottom-flex
    legend.filter-form__legend.filter-form__legend--add Дополнительные удобства
    div.filter-form__dropdown-btn
    include filter-form__div.pug

