div.filter-form__div.modal-close
    each val, index in ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь']
     div.filter-form__group
      label.filter-form__label= val
       input(class='filter-form__checkbox--hidden visually-hidden' type='checkbox' name= val)
       span.filter-form__checkbox
