.btn {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 none;
  border-radius: 22px;
}

.btn--bright {
    position: relative;
    width: 100%;
    padding: 1.1em 1.6em 1.2em;
    // padding: 14px 20px 15px;

    @include brightButton();
}

/*---------ARROW-----------*/
.btn--bright::after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 85%;
    top: 35%;
    background-color: transparent;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-45deg);
}


.btn--light {
    // display: flex;
  
    @include lightButton();
}

.btn--light__inner {
    margin: auto;
    padding: 1.1em 2em 1.2em;
    // padding: 12px 18px 13px;
    background-color: #ffffff;
    border-radius: 22px;
}