.room-search {
  min-width: $min-width;
  max-width: 33%;
  @include block();

  padding-top: 2.5em;
}

.room-search__title  {
  @include h2();
  font-size: 24px;
  max-width: 90%;

  @include indent();
  margin-bottom: 6%;
}
