.room-search-container {
  width: 380px; 
  height: 374px; 
  margin: auto;
  padding: 30px;
  padding-top: 40px;
  
  @include block();
}

.search-title {
  @include h1();
  @include indent();
  @include Montserrat();
  // margin-bottom: 20px;
}
