div.calendar
 ul.calendar__month
   li.calendar__month-prev
    svg(width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
     path(d="M16.1755 8.01562V9.98438H3.98801L9.56613 15.6094L8.15988 17.0156L0.144258 9L8.15988 0.984375L9.56613 2.39062L3.98801 8.01562H16.1755Z" fill="#BC9CFF")/
   li.calendar__month-title Август
    span 2019
   li.calendar__month-next
    svg(width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
     path(d="M8.36301 0.984375L16.3786 9L8.36301 17.0156L6.95676 15.6094L12.5349 9.98438H0.347383V8.01562H12.5349L6.95676 2.39062L8.36301 0.984375Z" fill="#BC9CFF")/
 ul.calendar__weekdays
  each val, index in ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
    li= val
 ul.calendar__days
  each val, index in ['29', '30', '31', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11','12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '1']
    li= val
 div.calendar__buttons
  button.calendar__btn(type='button') Очистить
  button.calendar__btn.calendar__btn--submit(type='submit') Применить      
