.catalog {
    @include flex();
    justify-content: space-between;
    margin: 0;
    margin-bottom: 20px;
}

.search__catalog-title {
    @include h2();
}

.catalog .room-card .room-card__cost {
    padding-top: 0.7em;
}
