mixin room-card-template(imgSrc, number, price, rewievsCount)
  div.room-card      
   div.room__slider
        picture
         //-source(type="image/webp" srcset="img/@1x.webp 1x, img/@2x.webp 2x")
         //-img.room__foto(src= imgSrc srcset="img/@2x.jpg 2x" width="332" height="189" alt="Фото номера")
   div.room__slider-toogler
        //-input.room__slider-toogle(type="radio" name="toggle" value="1" checked)
        //-input.room__slider-toogle(type="radio" name="toggle" value="2" checked)
        //-input.room__slider-toogle(type="radio" name="toggle" value="3" checked)
        //-input.room__slider-toogle(type="radio" name="toggle" value="4" checked)
        div.room__slider-toogle
        div.room__slider-toogle
        div.room__slider-toogle
        div.room__slider-toogle
   div.room__cost
        p.room__number '№'+ =  number
        span.room__class люкс 
        p.room__price= price
        span.room__price-span в сутки    
   div.room__rating
        div.room__stars 
        div.room__reviews=rewievsCount +  'Отзывов'
