.room-card {
    width: 23.5%;
    min-width: 270px;
    @include flex();
    justify-content: space-between;
   
    background-color: $white-color;
}

.room-card__slider,
.room-card__cost,
.room-card__rating {
    width: 100%;
    margin: 0;
}


.room-card__cost {
    position: relative;
    padding: 0.5em 1em;
    padding-left: 1.2em;
}

.room-card__cost .booking__room-number-span {
   /*FONT*/
   font-size: 19px;
   line-height: 1.5;
}

.room-card__cost::after {
    content: "";
    position: absolute;
    bottom: 15%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.room-card__rating {
    @include flex();
    font-size: 12px;
    line-height: 1.5;
    padding: 1em;
    padding-top: 0;
}

.room-card__foto {
    width: 100%;
}


/* --SLIDER -----------------------------------*/

.room-card__slider img {
   @include indent();
}

.room-card__slider {
    position: relative;
    height: 60%;
}

.room-card__slider-toogler {
    position: absolute;
    bottom: 5%;
    right: 5%;
    min-height: 1em;
    background-color: transparent;
    z-index: 10;
}

.room-card__slider-toogler label {
    font-size: 0;
    display: inline-block;
}

// .room-card__slider-toogler input[type='radio'] {
//     -webkit-appearance: none;
// }

.room-card__slider-toogle {
  display: inline-block;
  margin: 0 2px;
  width: 7px;
  height: 7px;
  border: 1px solid $white-color;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
  cursor: pointer;
}
 
.room-card__slider-input:checked + .room-card__slider-toogle {
    background-color: $white-color;
}

/* STARS */

.room-card__stars {
    // width: 124px;
    width: 45%;
    max-height: 1.5em;
    margin-left: 5px;
    margin-bottom: 5px;
}

.room-card__star {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 100%;
    background-image: url('/img/star.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

.room-card-4 .room-card__star:last-of-type,
.room-card-3 .room-card__star:nth-of-type(4),
.room-card-3 .room-card__star:nth-of-type(5) {
    background-image: url('/img/star_border.svg');
    background-repeat: no-repeat;
}

.room-card__reviews {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.1em;
}