include ../booking/booking__room-cost.pug

mixin room-card-template(room)
 div(class='room-card' + ' room-card-'+ room.stars)
  div.room-card__slider.slider
   a.room-card__slider-left.arrow-left(href='javascript:void(0);')
   a.room-card__slider-right.arrow-right(href='javascript:void(0);')
   div.room-card__slider-toogler.dots-wrapper
   div.room-card__slider-container
    img.room-card__foto.slide(data-src=('/home/sveta/Documents/FSD/webpack-test-3/dist/img/' + room.imgSrc + '.jpg') src= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/' + room.imgSrc + '.jpg' alt='Фото номера' srcset= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/' + room.imgSrc + '@2x.jpg 2x')
    img.room-card__foto.slide(data-src=('/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-2.jpg') src= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-2.jpg' alt='Фото номера' srcset= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-2@2x.jpg 2x')
    img.room-card__foto.slide(data-src=('/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-3.jpg') src= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-3.jpg' alt='Фото номера' srcset= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-3@2x.jpg 2x')
    img.room-card__foto.slide(data-src=('/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-4.jpg') src= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-4.jpg' alt='Фото номера' srcset= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-4@2x.jpg 2x')
  div.room-card__cost
   +booking__room-cost(room.number, room.price, room.isLux)
  div.room-card__rating
   fieldset.room-card__stars
    legend.visually-hidden Рейтинг
    div.room-card__rating-group
     input(class='room-card__star room-card__star-1' type='radio' name='rate' value='1' aria-label='Ужасно' checked)
     input(class='room-card__star room-card__star-2' type='radio' name='rate' value='2' aria-label='Сносно')
     input(class='room-card__star room-card__star-3' type='radio' name='rate' value='3' aria-label='Нормально')
     input(class='room-card__star room-card__star-4' type='radio' name='rate' value='4' aria-label='Хорошо')
     input(class='room-card__star room-card__star-5' type='radio' name='rate' value='5' aria-label='Отлично')
     div.room-card__rating
   div.room-card__reviews= room.rewievsCount +  ' Отзывов'
