include ../booking/booking__room-cost.pug

mixin room-card-template(room)
 div(class='room-card' + ' room-card-'+ room.stars)
  div.room-card__slider
   span.room-card__slider-left
   span.room-card__slider-right
   div.room-card__slider-toogler
     label(for='btn-1' + room.number) Фото номера 1
      input.room-card__slider-input(type='radio' id='btn-1' + room.number name='toggle' data-number='first' checked='true')
      span.room-card__slider-toogle
     label(for='btn-2' + room.number) Фото номера 2
      input.room-card__slider-input(type='radio' id='btn-2' + room.number name='toggle' data-number='second')
      span.room-card__slider-toogle
     label(for='btn-3' + room.number) Фото номера 3
      input.room-card__slider-input(type='radio' id='btn-3' + room.number name='toggle' data-number='third')
      span.room-card__slider-toogle
     label(for='btn-4' + room.number) Фото номера 4
      input.room-card__slider-input(type='radio' id='btn-4' + room.number name='toggle' data-number='fourth')
      span.room-card__slider-toogle
   div.room-card__slider-container     
    //-picture
    //-  source(type='image/webp', srcset='img/@1x.webp 1x, img/@2x.webp 2x')
    img.room-card__foto(src= 'img/' + room.imgSrc + '.jpg', srcset= 'img/' + room.imgSrc + '@2x.jpg 2x' alt='Фото номера')
    img.room-card__foto(src= 'img/room-2.jpg', srcset= 'img/' + room.imgSrc + '@2x.jpg 2x' alt='Фото номера')
    img.room-card__foto(src= 'img/room-3.jpg', srcset= 'img/' + room.imgSrc + '@2x.jpg 2x' alt='Фото номера')
    img.room-card__foto(src= 'img/room-4.jpg', srcset= 'img/' + room.imgSrc + '@2x.jpg 2x' alt='Фото номера')
  div.room-card__cost
   +booking__room-cost(room.number, room.price, room.isLux)     
  div.room-card__rating
   div.room-card__stars
    span.room-card__star
    span.room-card__star
    span.room-card__star
    span.room-card__star
    span.room-card__star
   div.room-card__reviews= room.rewievsCount +  ' Отзывов' 
   