include ../booking/booking__room-cost.pug

mixin room-card-template(room)
 div(class='room-card' + ' room-card-'+ room.stars)
  div.room-card__slider.slider
   a.room-card__slider-left.arrow-left(href='javascript:void(0);')
   a.room-card__slider-right.arrow-right(href='javascript:void(0);')
   div.room-card__slider-toogler.dots-wrapper
   div.room-card__slider-container
    img.room-card__foto.slide(data-src=('/home/sveta/Documents/FSD/webpack-test-3/dist/img/' + room.imgSrc + '.jpg') src= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/' + room.imgSrc + '.jpg' alt='Фото номера' srcset= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/' + room.imgSrc + '@2x.jpg 2x')
    img.room-card__foto.slide(data-src=('/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-2.jpg') src= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-2.jpg' alt='Фото номера' srcset= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-2@2x.jpg 2x')
    img.room-card__foto.slide(data-src=('/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-3.jpg') src= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-3.jpg' alt='Фото номера' srcset= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-3@2x.jpg 2x')
    img.room-card__foto.slide(data-src=('/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-4.jpg') src= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-4.jpg' alt='Фото номера' srcset= '/home/sveta/Documents/FSD/webpack-test-3/dist/img/room-4@2x.jpg 2x')
  div.room-card__cost
   +booking__room-cost(room.number, room.price, room.isLux)
  div.room-card__rating
   fieldset.room-card__stars
    legend.visually-hidden Рейтинг
    div.room-card__rating-group
     input(id='awful' class='room-card__input' type='radio' name='rate' value='1' checked)
     label(for='awful' class='room-card__label room-card__label-1' aria-label='Ужасно')
     input(id='passable' class='room-card__input' type='radio' name='rate' value='2')
     label(for='passable' class='room-card__label room-card__label-2' aria-label='Сносно')
     input(id='normal' class='room-card__input' type='radio' name='rate' value='3')
     label(for='normal' class='room-card__label room-card__label-3' aria-label='Нормально')
     input(id='fine' class='room-card__input' type='radio' name='rate' value='4')
     label(for='fine' class='room-card__label room-card__label-4' aria-label='Хорошо')
     input(id='perfect' class='room-card__input' type='radio' name='rate' value='5')
     label(for='perfect' class='room-card__label room-card__label-5' aria-label='Отлично')
     div.room-card__rating-focus
   div.room-card__reviews= room.rewievsCount +  ' Отзывов'
