include ../booking/booking__room-cost-mixin.pug

mixin room-card-template(imgSrc, number, price, isLux, rewievsCount)
  div.room-card      
   div.room-card__slider
        picture.room-card-picture
         //-source(type="image/webp" srcset="img/@1x.webp 1x, img/@2x.webp 2x")
         img.room-card__foto(src= imgSrc)
         //-srcset="img/@2x.jpg 2x" width="332" height="189" alt="Фото номера")
        div.room-card__slider-toogler
             //-input.room__slider-toogle(type="radio" name="toggle" value="1" checked)
             //-input.room__slider-toogle(type="radio" name="toggle" value="2" checked)
             //-input.room__slider-toogle(type="radio" name="toggle" value="3" checked)
             //-input.room__slider-toogle(type="radio" name="toggle" value="4" checked)
             div.room-card__slider-toogle
             div.room-card__slider-toogle
             div.room-card__slider-toogle
             div.room-card__slider-toogle
   div.room-card__cost
        +booking__room-cost(number, price, isLux)    
   div.room-card__rating
        div.room-card__stars 
        div.room-card__reviews=rewievsCount +  ' Отзывов'
