include ../booking/booking__room-cost.pug

mixin room-card-template(room)
 div(class='room-card' + ' room-card-'+ room.stars)
  div.room-card__slider
   //-picture
   //-  source(type='image/webp', srcset='img/@1x.webp 1x, img/@2x.webp 2x')
   img.room-card__foto(src= 'img/' + room.imgSrc + '.jpg', srcset= 'img/' + room.imgSrc + '@2x.jpg 2x' alt='Фото номера')
   div.room-card__slider-toogler
     label(for='btn-1' + room.number) Фото номера 1
      input.visually-hidden.room-card__slider-input(type='radio' id='btn-1' + room.number name='toggle' checked)
      span.room-card__slider-toogle
     label(for='btn-2' + room.number) Фото номера 2
      input.visually-hidden.room-card__slider-input(type='radio' id='btn-2' + room.number name='toggle')
      span.room-card__slider-toogle
     label(for='btn-3' + room.number) Фото номера 3
      input.visually-hidden.room-card__slider-input(type='radio' id='btn-3' + room.number name='toggle')
      span.room-card__slider-toogle
     label(for='btn-4' + room.number) Фото номера 4
      input.visually-hidden.room-card__slider-input(type='radio' id='btn-4' + room.number name='toggle')
      span.room-card__slider-toogle
  div.room-card__cost
   +booking__room-cost(room.number, room.price, room.isLux)     
  div.room-card__rating
   div.room-card__stars
    span.room-card__star
    span.room-card__star
    span.room-card__star
    span.room-card__star
    span.room-card__star
   div.room-card__reviews= room.rewievsCount +  ' Отзывов' 
   