div.pagination
 ul.pagination__list
   each val, index in ['1', '2', '3', '...', '15', '']
     li.pagination__item
      a.pagination__link(href='#')= val
 p.pagination__text
  span  1 – 12 
  span из 100+ вариантов аренды
  