div.page-footer        
 div.page-footer__top
  div.page-footer__div.page-footer__div--presentation
   div.logo.page-footer__logo
     include ../logo/logo.pug
   p.page-footer__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
  div.page-footer__div.page-footer__lists
   div.page-footer__links
    h3.page-footer__links-title Navigation
    ul.page-footer__list
     each val, index in ['About Us', 'News', 'Support', 'Products']
      li.page-footer__list-item
       a(href='/' + url)= val
   div.page-footer__links
    h3.page-footer__links-title About us
    ul.page-footer__list
     each val, index in ['Who we are', 'Our team', 'Careers', 'Investors']
       li.page-footer__list-item
        a(href='/' + url)= val
   div.page-footer__links
    h3.page-footer__links-title Support
    ul.page-footer__list
     each val, index in ['Documentation', 'Community', 'Get in Touch']
       li.page-footer__list-item
        a(href='/' + url)= val
  div.page-footer__div.page-footer__subscribe
    h3.page-footer__subscribe-title Subscribe to our newsletter
    p.page-footer__text Receive our latest news and promotions in your inbox!
    form.page-footer__subscribe-form(method="POST" action="#")
      label(for="subscribe").visually-hidden Your email address
      input#subscribe.page-footer__subscribe-input.form-field(type="email" name="email" placeholder="Your email address")
 div.page-footer__bottom
  p.page-footer__bottom-textCopyright © 2018 Toxin UI Kit. All rights reserved.
  include ../footer-sm/footer-sm__social-icons-list.pug