div.page-footer        
 div.page-footer__top
  div.page-footer__div.page-footer__div--presentation
   div.logo.page-footer__logo
     include ../logo/logo.pug
     block text  
  block lists
  block subscribe
 div.page-footer__bottom
  block textCopyright
  include ../footer-sm/footer-sm__social-icons-list.pug
