doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        //-link(rel='preload' href='./fonts/Open_Sans/opensans.woff' as='font' crossorigin='anonymous')
        //-link(rel='preload' href='./fonts/Montserrat/Montserrat-Regular.woff' as='font' crossorigin='anonymous')
        //-link(rel='preload' href='./fonts/Open_Sans/opensansbold.woff' as='font' crossorigin='anonymous')
        //-link(rel='preload' href='./fonts/Montserrat/Montserrat-Bold.woff' as='font' crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    body
     block content
      include ./blocks/page-header/page-header.pug
      main.search__main
       section.search__filter
        form.search__filter-form
         include ./blocks/filter-form/filter-form.pug
       section.search__catalog
        h2.search__catalog-title Номера, которые мы для вас подобрали
        include ./blocks/catalog/catalog.pug
        include ./blocks/pagination/pagination.pug
     block foot
      div.page-footer
       include ./blocks/page-footer/page-footer.pug
