doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        link(rel='preload' href='../fonts/Open_Sans/opensans.woff' as='font' crossorigin='anonymous')
        link(rel='preload' href='../fonts/Montserrat/Montserrat-Regular.woff' as='font' crossorigin='anonymous')
        link(rel='preload' href='../fonts/Open_Sans/opensansbold.woff' as='font' crossorigin='anonymous')
        link(rel='preload' href='../fonts/Montserrat/Montserrat-Bold.woff' as='font' crossorigin='anonymous')
    body
     block content
      div.cards
       //- Searching rooms
       include ./blocks/room-search/room-search.pug
       //- Booking form
       include ./blocks/booking/booking.pug
       //- Calendar
       include ./blocks/calendar/calendar.pug
       //- Register
       include ./blocks/register/register.pug
       //- Login form
       include ./blocks/login/login.pug
       //- Room-1
       include ./blocks/room-card-template/room-card-template.pug
       - var roomList = [{imgSrc: 'room-1', number: '888', price: '9 990', isLux: true, rewievsCount: '145', stars: 5}];
       for room in roomList
         +room-card-template(room)
       //- Room-2
       - var roomList = [{imgSrc:'room-2', number:'840', price:'9 900', isLux: false, rewievsCount:'65', stars: 4}];
       for room in roomList
         +room-card-template(room)
      //-   ---headers&footers---
      //-div.headers-footers
      //- //-HEADER
      //- include ./blocks/page-header/page-header--eng.pug 
      //- //-HEADER-loged-in
      //- include ./blocks/page-header/page-header--logged-in.pug
      //- //- FOOTER-sm
      //- include ./blocks/footer-sm/footer-sm.pug  
      //- //-//-FOOTER-lg
      //- include ./blocks/page-footer/page-footer--eng.pug
     block foot
     
     
     
     
     
     
     