doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title UI-kit
        link(rel='preload' href='./fonts/Open_Sans/opensans.woff' as='font' crossorigin='anonymous')
        link(rel='preload' href='./fonts/Montserrat/Montserrat-Regular.woff' as='font' crossorigin='anonymous')
        link(rel='preload' href='./fonts/Open_Sans/opensansbold.woff' as='font' crossorigin='anonymous')
        link(rel='preload' href='./fonts/Montserrat/Montserrat-Bold.woff' as='font' crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    body.index_body
     h1.index_heading UI-kit
     a(class='index_link' href='pages/headers&footers.html') Headers&footers
     a(class='index_link' href='pages/cards.html') Cards
     h1.index_heading Website pages
     a(class='index_link' href='pages/details.html') Details
     a(class='index_link' href='pages/landing.html') Landing
     a(class='index_link' href='pages/login.html') Login
     a(class='index_link' href='pages/registration.html') Registration
     a(class='index_link' href='pages/search.html') Search
