doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="preload" href="../fonts/Open_Sans/opensans.woff" as="font" crossorigin="anonymous")
        link(rel="preload" href="../fonts/Montserrat/Montserrat-Regular.woff" as="font" crossorigin="anonymous")
        link(rel="preload" href="../fonts/Open_Sans/opensansbold.woff" as="font" crossorigin="anonymous")
        link(rel="preload" href="../fonts/Montserrat/Montserrat-Bold.woff" as="font" crossorigin="anonymous")
    body
      h1.visually-hidden UI-kit 
      //- Searching rooms
      include blocks/room-search/room-search.pug
      //- Register
      include blocks/register/register.pug
      //- Login form
      include blocks/login/login.pug
      //-//- Calendar
      //-//
      //- Booking form
      include blocks/booking/booking.pug
      //- Room-1
      include blocks/room-card-1/room-card-1.pug
      //- Room-2
      include blocks/room-card-2/room-card-2.pug
      //- FOOTER-sm
      include blocks/footer-sm/footer-sm.pug  
      //-FOOTER-lg
      include blocks/page-footer/page-footer.pug
      //-HEADER
      include blocks/page-header/page-header.pug 
      //-HEADER-loged-in
      include blocks/page-header/page-header--logged-in.pug