doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        //-link(rel='preload' href='./fonts/Open_Sans/opensans.woff' as='font' crossorigin='anonymous')
        //-link(rel='preload' href='./fonts/Montserrat/Montserrat-Regular.woff' as='font' crossorigin='anonymous')
        //-link(rel='preload' href='./fonts/Open_Sans/opensansbold.woff' as='font' crossorigin='anonymous')
        //-link(rel='preload' href='./fonts/Montserrat/Montserrat-Bold.woff' as='font' crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    body
    div.cards-container--room
     //- Room-1
     include ./blocks/room-card-template/room-card-template.pug
     - var roomList = [{imgSrc: 'room-1', number: '888', price: '9 990', isLux: true, rewievsCount: '145', stars: 5}];
     for room in roomList
       +room-card-template(room)
