extends ../../template.pug

block content
 include ../../blocks/page-header/page-header.pug
 section.registration__presentation.registration__presentation--login
  - var registered = true
  if registered
   include ../../blocks/login/login.pug
  else
   include ../../blocks/register/register.pug
block foot
 div.page-footer
  include ../../blocks/page-footer/page-footer.pug
