.form-field {
    padding: 0.6em;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2;

    background-color: $white-color;
    border: 1px solid $shade-25;
    border-radius: 4px;

    &-hover,
    &:hover {
        color: $shade-75;
        border-color: $shade-50;
    }

    &-focus,
    &:focus {
        color: $shade-75;
        border-color: $shade-50;
    }
}

// .form-field__dropdown {
//     position: relative;
//     @include dropdown-bottom();
// }