include ../dropdown/dropdown.pug

mixin search-form__fields(startID, endID, guestsID)
 div.search-form__fields
  div.search-form__group.search-form__group-top
         label(for= startID) Прибытие
         div.search-form__input-arrow
         input(id= startID class='search-form__control datepicker-here' type='text' name='arrive' placeholder='ДД.ММ.ГГГГ')
  div.search-form__group.search-form__group-top
         label(for= endID) Выезд
         div.search-form__input-arrow
         input(id= endID class='search-form__control datepicker-here' type='text' name='depart' placeholder='ДД.ММ.ГГГГ')
  div.search-form__group.search-form__group-bottom
         label(for= guestsID) Гости
         div.search-form__select-arrow
         input(id= guestsID class='search-form__pseudo-select' type="text" name="guests" placeholder="Сколько гостей" max='4' min='1')
         +dropdown('Guests', 'Взрослые', 2, 'Дети', 2, 'Младенцы', 0, true)
