include ../btn/btn--bright.pug
include ./search-form__fields.pug

form.search-form(method='GET' action='#')
      +search-form__fields('start1', 'end1', 'guests1')
      +btn-bright('Подобрать номер')