.search-form,
.search-form__group {
  @include indent();
}

.search-form__fields {
  @include flex();
  padding: 0;

  margin-bottom: 5%;
}

.search-form__group-top {
  @include indent();
  max-width: 45%;
  margin-bottom: 10px;
}

.search-form__group label {
  @include h3();
  @include indent();
  margin: 0;
  padding: 0.2em;
}

/*--select-no-js*/

.search-form__control,
.search-form__group select {
  @extend .form-field;
  padding: 0.6em;

  max-width: 100%;
  margin-bottom: 10px;
}

.search-form__group select {
  padding: 0.6em;
  position: relative;
}

.search-form__pseudo-select {
  margin: 0;

  @extend .form-field;
  padding: 1em;
  
  width: 100%;
  margin-bottom: 5%;
}

.search-form__group select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:hover,
  &:focus,
  &:active {
      outline: none;
      box-shadow: none;
    }
}

.search-form__group__select {
  position: relative;

  &:hover,
  &:focus {
    outline: 1px solid blue;
  }
}

.search-form__group-bottom {
  position: relative;
  width: 100%;
}

.search-form__group__select::after,
.search-form__group-bottom::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-bottom: 1px solid $shade-50;
  border-right: 1px solid $shade-50;
  transform: rotate(45deg);
}

.search-form__group__select::after {
  top: 28%;
  right: 15px;
}

.search-form__group-bottom::after {
  top: 50%;
  right: 5%;
}


/*--dropdown--*/

.search-form__group-bottom .room-dropdown {
  display: none;
  
  width: 100%;
  position: absolute;
  left: 0;
  top: 80%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background-color: #ffffff;
  z-index: 10;
}



