.search-form {
  // outline: 2px solid crimson;
}

.search-form__group label {
  // @include h3();
  font-weight: bold;
  font-size: 10px;
  line-height: 1.5;
  
  text-transform: uppercase;
  color: #1F2041;
  padding-top: 0.4em;
  padding-bottom: 0.3em;
  padding-right: 0.3em;
}

.search-form__fields {
  @include flex();
  padding: 0;
  margin-bottom: 20px;
}

.search-form__group {
  max-width: 45%;
}

.search-form__group-top {
  // outline: 2px solid green;
}

.search-form__group-bottom {
  min-width: 100%;
}

.search-form__group-bottom .search-form__control {
  width: 100%;
}

.search-form__control {
  @include form-field();
  max-width: 100%;
  margin-bottom: 10px;
}

