include ../btn/btn-bright.pug

form.search-form(method='GET' action='#')
      div.search-form__group
        label(for='start1') Прибытие
        input#start1.search-form__control(type='date' name='arrive')
      div.search-form__group
        label(for='end') Выезд
        input#end.search-form__control(type='date' name='depart')
      div.search-form__group
        label(for='guests') Гости
        select#guests.search-form__control(name="guests" placeholder="Сколько гостей")
           option 1
           option 2
           option 3
        +btn-bright('Подобрать номер')