.search-form {
  // outline: 2px solid crimson;
}

.search-form__group label {
  // @include h3();
  font-weight: bold;
  font-size: 10px;
  line-height: 1.5;
  
  text-transform: uppercase;
  color: #1F2041;
  padding-top: 0.4em;
  padding-bottom: 0.3em;
  padding-right: 0.3em;
}

.search-form__fields {
  @include flex();
  padding: 0;
  margin-bottom: 20px;
}

.search-form__group {
  max-width: 45%;
}

.search-form__group-top {
  // outline: 2px solid green;
}

.search-form__group-bottom {
  min-width: 100%;
}

.search-form__group-bottom .search-form__control {
  position: relative;

  width: 100%;
}

.search-form__dropdown-top {
  margin: 0;
  padding: 1em;
  width: 100%;
}

.search-form__dropdown-table {
  width: 100%;
}

.search-form__dropdown-row th,
.search-form__dropdown-row td {
  vertical-align: middle;
  // min-width: 50%;
}

.search-form__dropdown-row td {
  text-align: right;
}

.search-form__dropdown-row th {
  text-align: left;
  // font-size: 12px;
  font-size: 10px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #1F2041;
  padding: 0.5em;
}

.search-form__dropdown-btn {
  // width: 20px;
  // height: 20px;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(31, 32, 65, 0.5);
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  padding: 0.5em 1em;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: none;
}


.search-form__dropdown-bottom {
  @include flex();
  justify-content: space-between;
  padding: 1em;
}

.search-form__group-bottom .search-form__dropdown {
  display: none;
  position: absolute;
  bottom: -33%;
  right: 8%;
  width: 85%;
  background-color: #ffffff;
  z-index: 10;
}

.search-form__dropdown-input {
  border: none;
  text-align: center;
  padding: 0.5em 1em;
}


.search-form__control {
  @include form-field();
  max-width: 100%;
  margin-bottom: 10px;
}

