div.page-footer        
        div.logo
          a(href='/' + url) Токсин
        p.footer__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        div.page-footer__subscribe
          h3.page-footer__-heading Subscribe to our newsletter
          p.footer__text Receive our latest news and promotions in your inbox!
          form.page-footer__subscribe-form(method="POST" action="#")
            label(for="subscribe") Hidden
            input#subscribe.page-footer__subscribe-input(type="email" name="email" placeholder="Your email address")
            //-submit??button inside input?
          div.page-footer__bottom
            p.copyright Copyright © 2018 Toxin UI Kit. All rights reserved.
            div.social-icons
              ul.social-icons__list
                li 
                  a(href='/' + url) Twitter
                li 
                  a(href='/' + url) Facebook
                li 
                  a(href='/' + url) Instagram