.cards {
    max-width: $max-width;
    min-width: $min-width;
    width: 1440px;

    padding: 4.7%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    outline: 2px solid purple;;
    @include flex();
}

.cards .room-search,
.cards .booking,
.cards.calendar,
.cards .register,
.cards .login,
.cards .register {
    margin: 0;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.cards .room-search {
    height: 21%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.cards .booking {
    // height: 25%;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.cards .calendar {
    margin-left: 20px;
    margin-bottom: 20px;

    max-height: 300px;
}

.cards .register {
  // height: 515px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.cards .login {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    max-height: 285px;
}