.datepicker--cell {
  border-radius: 50%;
}

.datepicker--cell.-current-.-focus- {
  opacity: 0.5;
}

.datepickers-container {
  width: 300px; // ??
}

.datepicker {
  width: 100%;
}

.datepicker--pointer {
  display: none;
}

.datepicker--cell.-focus- {
  background: #f0f0f0;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25;
}


.datepicker--cell.-current- {
  color: #ffffff;
  border-radius: 50%;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.datepicker--day-name {
  color: #BC9CFF;
  font-weight: bold;
}

.datepicker--nav {
  padding: 10px;
  padding-bottom: 15px;
  // border-bottom: 1px solid #efefef; --
}

.datepicker--nav-title {
  font-weight: bold;
}

.datepicker--nav-title i {
  color: currentColor;
  font-weight: bold;
}

.datepicker--nav-action svg {
  width: 17px;
  height: 18px;
}

.datepicker--nav-action path {
  fill: #BC9CFF;
  stroke: none;
}

.datepicker--button {
  color: rgba(#1F2041, 0.5);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.datepicker--button:hover {
  color: #4a4a4a;
}

// navTitles: {
//   days: 'MM <i>yyyy</i>',
//   months: 'yyyy',
//   years: 'yyyy1 - yyyy2'
// },
