include ../btn/btn--bright.pug
include ../login/login__footer.pug
include ../login/login__fields.pug

div.register
  h2.register__title  Регистрация аккаунта
  form.register__form(method='POST' action='#')
   div.register__form-top
      div.register__form-group
         label.visually-hidden(for='name1') Имя
         input#name1.register__form-control(type='text', placeholder='Имя' name='name')
      div.register__form-group
         label.visually-hidden(for='surname') Фамилия
         input#surname.register__form-control(type='text', placeholder='Фамилия' name='surname')
      div.register__form-group
       div.register__form-group-checkbox
         input#male.register__form-checkbox(type='radio' name='sex' value='male' checked)
         label(for='male') Мужчина
       div.register__form-group-checkbox
         input#female.register__form-checkbox(type='radio' name='sex' value='female')
         label(for='female') Женщина
   div.register__form-group.register__form-group-middle
      label.register__form-label(for='birthday') Дата рождения
      input(id='birthday' class='register__form-control datepicker-here' type='text' name='birthday')
      p.register__form-label  Данные для входа в сервис
      +login__fields('email2', 'pass2')
   div.register__form-group.register__form-group-special
       input#switch.register__form-checkbox.register__form-checkbox--switch(type='checkbox' name='switch' checked)
       label(for='switch') Получать спецпредложения
           span.switch-slider.switch-slider-on
           span.switch-slider.switch-slider-off
   +btn-bright('Перейти к оплате')
  +login__form-footer(true)
