extends ../../index.pug

block content
 //- FOOTER-sm
 include ../../blocks/footer-sm/footer-sm.pug  
 //-//-FOOTER-lg
 include ../../blocks/page-footer/page-footer.pug
 //-HEADER
 include ../../blocks/page-header/page-header.pug 
 //-HEADER-loged-in
 include ../../blocks/page-header/page-header--logged-in.pug