extends ../../template.pug

block content
 div.headers-footers
  //-HEADER
  include ./blocks/page-header/page-header.pug
  //-HEADER-loged-in
  include ../../blocks/page-header/page-header--logged-in.pug
  //-//-FOOTER-lg
  include ./blocks/page-footer/page-footer.pug
  //- FOOTER-sm
  include ../../blocks/footer-sm/footer-sm.pug
