mixin login__form-footer(isAuthorised)
 div.login__form-footer
              - var authorised = isAuthorised
              if authorised
                 p.login__form-text  Уже есть аккаунт на Toxin?
                 +btn-light('Войти')
              else   
                 p.login__form-text Нет аккаунта на Toxin?
                 +btn-light('Создать')