include ../btn/btn--bright.pug
include ./login__footer.pug
include ./login__fields.pug

div.login
  h2.login__title Войти
  form.login__form(method='POST' action='#')
        +login__fields('email1', 'pass1')
        +btn-bright('Войти')
  +login__form-footer(false)
