/*-PRESENTATION-*/

.details__presentation {
    min-height: 485px;
    width: 100%;
    @include indent();
    @include flex();
}

@media screen and (max-width: 600px) {
    .details__presentation {
        min-height: 250px;
    }
}


.details__big-foto {
    @include indent();
    width: 68%;
    min-width: $min-width;
    height: 100%;
    min-height: 485px;
    flex: 2.125;
    background-image: url('/home/sveta/Documents/FSD/webpack-test-3/dist/img/big-room.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 900px) {
    .details__big-foto {
        min-height: 300px;
    }
}


.details__small-foto {
    width: 32%;
    min-width: 300px;
    height: 100%;
    @include flex();
    flex-direction: column;
    flex: 1;
    @include indent();
}

.details__small-foto1,
.details__small-foto2 {
    height: 50%;
    min-height: 242px;
    @include indent();
}

.details__small-foto1 {
    background-image: url('/home/sveta/Documents/FSD/webpack-test-3/dist/img/small-room1-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @media (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: 144dpi){
        background-image: url('/home/sveta/Documents/FSD/webpack-test-3/dist/img/small-room1-1@2x.jpg');
    }
}

.details__small-foto2 {
    background-image: url('/home/sveta/Documents/FSD/webpack-test-3/dist/img/small-room1-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @media (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: 144dpi){
        background-image: url('/home/sveta/Documents/FSD/webpack-test-3/dist/img/room1-2@2x.jpg');
    }
}

@media screen and (max-width: 900px) {
    .details__presentation {
        flex-direction: column;
    }

    .details__big-foto,
    .details__small-foto,
    .details__small-foto1,
    .details__small-foto2 {
      width: 100%;
    }
}

/*--MAIN--*/

.details__main {
    min-width: $min-width;

    @include flex();
    align-items: flex-start;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 2.7em;
    padding-bottom: 4em;
    margin: 0;
    background-color: $white-color;
    border-bottom: 1px solid rgba($shade-100, 0.05);
}

.details__info-top {
    width: 100%;
    @include flex();
}

.details__info {
    width: 62%;
    min-width: $min-width;
    background-color: $white-color;
    padding: 0;
    flex-grow: 1;
}

.details__title {
    /*FONT*/
    font-size: 19px;
    line-height: 1.5;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: #1F2041;

    @include flex();
    margin: 0;
    padding: 0.5em;
    padding-left: 0;
    padding-top: 1.5em;
}

.details__info-about {
    min-width: $min-width;
    width: 50%;
    padding: 0;
    flex-grow: 1;

    @media screen and (max-width: 600px) {
        margin-bottom: 2em;
    }
}

.details__info-impressions {
    min-width: $min-width;
    width: 50%;
    padding-left: 0.5em;
    flex-grow: 1;
    @media screen and (max-width: 600px) {
        margin-bottom: 2em;
    }
}

.details__info-impressions-div {
    @include flex();
    padding-top: 0.5em;
    margin-bottom: 40px;
    max-width: 100%;
}

.details__info-options-list {
    @include indent();
    list-style-type: none;

    margin-right: 4em;
    margin-top: 2.2em;
    margin-bottom: 5%;
}

.details__info-options-item {
    position: relative;
    padding-left: 30px;
}

.details__info-options-item::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 5%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.details__info-options-item:nth-of-type(1)::before {
    background-color: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    background-color: #FFBA9C;
}

.details__info-options-item:nth-of-type(2)::before {
    background-color: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    background-color: #6FCF97;
}

.details__info-options-item:nth-of-type(3)::before {
    background-color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-color: #BC9CFF;
}

.details__info-options-item:nth-of-type(4)::before {
    background-color: llinear-gradient(180deg, #919191 0%, #3D4975 100%);
    background-color: #3D4975;
}

.details__info-chart {
  position: relative;
  width: 120px;
  max-width: 120px;
  height: 120px;

  // canvas-svg
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// canvas-svg

.unit {
  fill: none;
  stroke-width: 2;
}

.unit:nth-child(1) {
  stroke:  #BC9CFF;
  stroke-dasharray: 150;
}


.unit:nth-child(2) {
  stroke: #6FCF97;
  stroke-dasharray: 105 37.5;
  stroke-dashoffset: -2;
}

.unit:nth-child(3) {
  stroke: #FFBA9C;
  stroke-dasharray: 70 70;
  stroke-dashoffset: -37;
}

.chart_text {
  position: absolute;
  @include flex();
  justify-content: center;
  align-items: center;
  top: 32%;
  left: 27%;
  width: 40%;
  max-width: 40%;
  color: #BC9CFF;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  @include indent();
}

.chart_text-span {
  font-size: 16px;
  line-height: 1;
  @include indent();
}


// canvas-js

// .details__info-chart canvas {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 120px;
// }

/*-REVIEWS-*/

.details__info-reviews {
    max-width: 100%;
    margin-bottom: 3.5%;
}

.details__info-reviews .details__title {
    padding-top: 0.2em;
}

.details__info-reviews-count {
    /*FONT*/
    font-size: 14px;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    color: rgba(31, 32, 65, 0.5);

    margin-left: auto;
    padding: 0.5em;
    padding-right: 0;
    padding-top: 0.6em;
  }

  /*-RULES-*/

.details__info-rules {
    @include flex();
    justify-content: space-between;
}

.details__info-spec,
.details__info-cancel {
    @include indent();
    width: 50%;
    min-width: $min-width;
    flex-grow: 1;
}

.details__info-rules .details__title {
    @include indent();
    margin-bottom: 5%;
}

.details__info-spec .details__title {
    padding-left: 1em;
    margin-bottom: 20px;
}


.details__info-rules-list {
    @include list();

    /*FONT*/
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: rgba(31, 32, 65, 0.75);

    list-style-type: circle;
    list-style-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='5.21429' cy='5' rx='5.21429' ry='5' fill='%231F2041' fill-opacity='0.25'/%3E%3C/svg%3E%0A");
    list-style-position: inside;
  }


.details__info-cancel .details__text {
    /*FONT*/
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.75);
    letter-spacing: 0.09em;

    padding: 0 0.5em;
    width: 97%;
  }

.details__info-rules-item {
    @include indent();
    margin-bottom: 4%;
    max-width: 80%;
}



/*--ASIDE--*/

.details__aside {
    min-width: $min-width;
    width:38%;
    @include flex();
    flex-grow: 1;
    background-color: $white-color;
}

.details__aside .booking {
    min-width: 85%;
    margin-left: auto;
    margin-top: 2em;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 1138px) {
    .details__main {
        padding-left: 3em;
        padding-right: 3em;
    }

    .details__aside {
        width: 100%;
    }

    .details__aside .booking {
        max-width: 380px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 375px) {
    .details__main {
        padding-left: 0;
        padding-right: 0;
    }

    .details__info,
    .details__info-reviews,
    .details__info-rules {
        min-width: $min-width;
    }
}

