include ../search-form/search-form__fields-mixin.pug

div.booking
  div.room__cost
      p.room__number № 888 
        span.room__class люкс 
      p.room__price 9 990₽  
        span.room__price-span в сутки
      form.booking-form(method='POST' action='#')
        +search-form__fields('start2', 'end3', 'guests3')
        div.search-form__table
                table.booking-form__count
                  tr
                      td 9 990₽ х 4 суток 
                      td 39 960₽ 
                  tr
                      td 9 990₽ х 4 суток 
                      td 39 960₽ 
                  tr
                      td  Сбор за услуги: скидка 2 179₽ 
                      td  0₽
                  tr
                      td Сбор за дополнительные услуги
                      td 300₽ 
                  tr
                td.booking-form__count-total  Итого  
                td.booking-form__count-total  38 081₽
            
        +btn-bright('Забронировать')