.search .page-header {
  padding-left: 10%;
  padding-right: 10%;
}

.search {
  max-width: 1440px;

}

.search__main {
  margin: 0;
  @include flex();
  background-color: #ffffff;

  padding-left: 10%;
  padding-right: 10%;
}

.search__filter {
    // outline: 1px solid purple;
    max-width: 30%;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.search__filter-form {
  @include indent();
  width: 100%;
  padding-top: 20px;
  // background-color: chartreuse;
}

.search__catalog {
  // flex-grow: 1;
  max-width: 70%;
}
