.search__main {
  // outline: 5px solid crimson;
  max-width: $max-width;
  min-width: $min-width;
  width: 100%;
  margin: 0;
  @include flex();
  background-color: $white-color;

  padding: 2em;
  padding-left: 10em;
  padding-right: 10em;
  box-shadow: inset 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.search__filter {
    min-width: 266px;
    width: 22%;
    @include indent();
}

.search__filter-form {
  @include indent();
  width: 100%;
}

.search__catalog {
  min-width: $min-width;
  width: 72%;
}

.search__catalog-title {
  @include indent();
  padding: 0.2em 0;
  margin-bottom: 2%;
}

.search__main .room-card {
  margin-bottom: 2.8%;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
