//-Search room/Filter
extends ../../template.pug

block content
 include ../../blocks/page-header/page-header.pug
 main.search__main
  section.search__filter
   form.search__filter-form
    include ../../blocks/filter-form/filter-form.pug
  section.search__catalog
   h2.search__catalog-title Номера, которые мы для вас подобрали
   include ../../blocks/catalog/catalog.pug
   include ../../blocks/pagination/pagination.pug
block foot
 div.page-footer
  include ../../blocks/page-footer/page-footer.pug
