.booking {
    @include block();
    @include index-block();

    width: 21%;
    min-width: 300px; 
    padding-top: 2%;
}

.booking__room-cost {
    @include flex();
    align-items: baseline;

    @include indent();
    // margin-bottom: 10px;
    margin-bottom: 2%;
}

.booking__room-number,
.booking__room-price {
    margin: 0;
    padding: 0.3em;
}

.booking__room-number {
    color: black;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
}

.booking__room-number-span {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    color: black;
}

.booking__room-class {
    @include h3();
    color: $purple-color;

    margin-left: 5px;
    // padding: 0.3em;
}

.booking__room-price {
    font-size: 12px;
    line-height: 1.25;
    // @include font-body();
    color: $shade-50;
}

.booking__room-price-span {
  color: $shade-25;

  margin-left: 5px;
}

.booking__form .search-form__fields {
    // outline: 2px solid red;
    margin-bottom: 10px;
}

.booking__form-count {
    position: relative;
    width: 100%;
    // margin-bottom: 20px;
    margin-bottom: 5%;
}

.booking__form-count td {
  font-size: 12px;
  line-height: 1.5;
  padding-bottom: 5px;
  vertical-align: top;
}

.booking__form-count-1 {
    max-width: 160px;
    // max-width: 40%;
}

.booking__form-count-2 {
    text-align: right;
}

.booking__form-count-icon {
    margin-left: 3px;
    display: inline-block;
    vertical-align: middle;
}

// .booking__form-count-footer::after {
//     content: "";
//     position: absolute;
//     bottom: 5%;
//     left: 22%;
//     width: 50%;
//     height: 2px;
//     background-color: red;
// }

.booking__form-count .booking__form-total {
    // @include h2();
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
}
