.booking {
    @include block();
    @include index-block();

    width: 380px;
    max-width: 26%;
    min-height: 511px;
    // padding: 30px;
    // padding-top: 40px;
    padding: 2%;
    padding-top: 3%;
}

.booking__room-cost {
    @include flex();
    align-items: baseline;

    @include indent();
    // margin-bottom: 10px;
    margin-bottom: 2%;
}

.booking__room-number,
.booking__room-price {
    margin: 0;
    padding: 0.3em;
}

.booking__room-number {
    color: black;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
}

.booking__room-number-span {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    color: black;
}

.booking__room-class {
    @include h3();
    color: $purple-color;

    margin-left: 5px;
    // padding: 0.3em;
}

.booking__room-price {
    @include font-body();
    color: $shade-50;
}

.booking__room-price-span {
  font-size: 12px;
  line-height: 1.25;
  color: $shade-25;

  margin-left: 5px;
}


.booking__form-count {
    width: 100%;
    // margin-bottom: 20px;
    margin-bottom: 5%;
}

.booking__form-count {
    position: relative;
    width: 100%;
}

.booking__form-count td {
  padding: 0.5em;

  vertical-align: bottom;
}

.booking__form-count-1 {
    max-width: 220px;
    // max-width: 70%;
}

.booking__form-count-2 {
    text-align: right;
}

.booking__form-count-icon {
    outline: 1px solid crimson;
    margin-left: 10px;
    padding: 5px 10px;
}

// .booking__form-count-footer::after {
//     content: "";
//     position: absolute;
//     bottom: 5%;
//     left: 22%;
//     width: 50%;
//     height: 2px;
//     background-color: red;
// }

.booking__form-total {
    @include h2();
}