mixin booking__room-cost(number, price, isLux)
 div.booking__room-cost
       p.booking__room-number № 
         span.booking__room-number-span= number 
         if isLux
          span.booking__room-class люкс
         else

       p.booking__room-price=price + '₽'  
         span.booking__room-price-span в сутки