.booking {
    @include block();
   
    width: 33%;
    min-width: $min-width;
    padding-top: 2.5em;
}

.booking__room-cost {
    @include flex();
    align-items: baseline;

    @include indent();
    margin-bottom: 3%;
}

.booking__room-number,
.booking__room-price {
    margin: 0;
    padding: 0.3em 0.1em;
}

.booking__room-number {
    /*FONT*/
    color: $shade-100;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
}

.booking__room-number-span {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    color: black;
}

.booking__room-class {
    @include h3();
    color: $purple-color;

    margin-left: 5px;
}

.booking__room-price {
    margin-left: auto;
    /*FONT*/
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 0.1em;
    color: $shade-50;
}

.booking__room-price-span {
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.1em;
    color: $shade-25;
    margin-left: 5px;
}

.booking__form .search-form__fields {
    margin-bottom: 0;
}

.booking__form-count {
    position: relative;
    width: 100%;
    padding: 0;
    margin-bottom: 6%;
}

.booking__form-count td {
  /*FONT*/
  font-size: 14px;
  line-height: 1.5;

  padding: 0.3em 0;
  vertical-align: top;
}

.booking__form-text {
    @include indent();
}

.booking__form-text--lg {
    max-width: 80%;
}

.booking__form-count-1 {
    position: relative;
    min-width: 40%;
}

.booking__form-count-2 {
    text-align: right;
}

.booking__form-count-icon {
    position: absolute;
    top: 25%;
    right: 10px;
    margin-left: 0.3em;
    display: inline-block;
    vertical-align: middle;
}

.booking__form-count-icon svg {
    width: 1.2em;
    height: 1.2em;
}

/*-FOOTER-*/

.booking__form-footer {
   /*FONT*/
   font-style: normal;
   font-weight: bold;
   font-size: 19px;
   line-height: 1.2em;
    
    width: 100%;
    @include flex();
    align-items: baseline;
    margin-bottom: 5%;
}

.booking__form-footer span:first-child {
    padding: 0.3em 0;
    letter-spacing: 0.1em;
}

.booking__form-footer span:last-child {
    padding: 0.3em 0;
    letter-spacing: 0.05em;
}

.booking__form-border {
   @include indent ();
   min-width: 20%;
   flex-grow: 1;
   height: 1px;
   background-color: $shade-25;
}
