div.footer-sm
        div.logo
          a(href='/' + url) Токсин  
        p.footer__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        div.social-icons
          ul.social-icons__list
            li 
              a(href='/' + url) Twitter
            li 
              a(href='/' + url) Facebook
            li 
              a(href='/' + url) Instagram