.footer-sm {
    width: 100%;
    padding-top: 7%;
    padding-bottom: 7%;

    /*ui-kit*/
    margin: 20px;
    margin-left: 0;
    margin-right: 0;

    @include flex();
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}


.footer-sm__text {
    max-width: 40%;
    padding: 1em;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.footer-sm__logo {
    @include indent();
    margin-left: 5px;
    margin-bottom: 0.4%;
}

.footer-sm__social-icons-list {
    @include list();
    @include flex();
    min-width: 8%;
}

.footer-sm__social-icons-item a {
    display: block;
    padding: 2px;

    &:hover,
    &:focus,
    &:active {
    opacity: 0.5;
  }
}