div.footer-sm
        div.logo.footer-sm__logo
          include ../logo/logo.pug
        p.footer-sm__text Copyright © 2018 Toxin отель. Все права защищены.
        include ./footer-sm__social-icons-list.pug
