.footer-sm {
    width: 100%;
    // padding-top: 100px;
    // padding-bottom: 100px;
    padding-top: 7%;
    padding-bottom: 7%;

    @include flex();
    @include index-block();
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}


.footer-sm__text {
    // max-width: 560px;
    max-width: 40%;
    padding: 1em;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.footer-sm__logo {
    @include indent();
    margin-bottom: 0.4%;
}

.footer-sm__social-icons-list {
    @include list();
    @include flex();
    min-width: 8%;
}

.footer-sm__social-icons-item a {
    display: block;
    padding: 2px;

    &:hover,
    &:focus,
    &:active {
    opacity: 0.5;
  }
}