extends ../../index.pug

block content
 include ../../blocks/page-header/page-header--rus.pug
 section.registration__presentation
  include ../../blocks/login/login.pug
  //-include ../../blocks/register/register.pug
block foot
 div.page-footer--rus
  include ../../blocks/page-footer/page-footer--rus.pug