.registration__presentation {
    position: relative;
    width: 100%;
    min-height: 680px;

    @include indent();
    background-image: url('/img/reg-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
    /* CSS для ретины */
    .registration__presentation {
        background-image: url('/img/reg-bg@2x.jpg');
        // background-size: 100% 50%;
    }
}

.registration__presentation .register {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -150px;
}

.registration__presentation .login {
    position: absolute;
    top: 163px;
    left: 50%;
    margin-left: -150px;
}