.registration__presentation {
    position: relative;
    width: 100%;

    @include indent();
    background-image: url('../pug/pages/registration/reg-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.registration__presentation--login {
  min-height: 680px;
}

.registration__presentation--register {
  min-height: 700px;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
    /* CSS для ретины */
    .registration__presentation {
        background-image: url('../pug/pages/registration/reg-bg@2x.jpg');
        // background-size: 100% 50%;
    }
}

.registration__presentation .register {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -180px;
    margin-bottom: 20px;
    width: 26%;
}

.registration__presentation .login {
    position: absolute;
    top: 24%;
    left: 50%;
    margin-left: -185px;
    width: 26%;
}
