extends page-header__template.pug
include ../page-header/page-header__user-nav.pug


block navlist
  div.page-header--rus 
   +nav-list(['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения'])
block user-nav
  div.page-header--rus 
   +page-header__user-nav(false, 'Войти', 'Зарегистрироваться')
