extends page-header__template.pug
include ../page-header/page-header__user-nav.pug


block navlist
  div.page-header--eng
   +nav-list(['Home', 'About Us', 'Services', 'Careers', 'News', 'Documentaion'])
block user-nav
  div.page-header--eng
   +page-header__user-nav(false, 'Login', 'Register')