@font-face {
  font-family: "Montserrat Regular";
  src: local("Montserrat Regular"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("ttf"), url("../fonts/Montserrat/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Bold";
  src: local("Montserrat Bold"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("ttf"), url("../fonts/Montserrat/Montserrat-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/Open_Sans/opensans.woff") format("woff"),url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("ttf"),url("../fonts/Open_Sans/OpenSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Bold";
  src: local("Open Sans Bold"), url("../fonts/Open_Sans/opensansbold.woff") format("woff"), url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("ttf"),url("../fonts/Open_Sans/OpenSans-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  @include indent();
  color: $shade-75;
  background-color: #E5E5E5;
  @include Montserrat();
  font-size: 14px;
  line-height: 1.7;
  max-width: $max-width;
  min-width: $min-width;
  width: 100%;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
  @include indent();
}

.index_body {
  background-color: #ffffff;
}

.index_heading {
  @include indent();
  padding: 0.5em;
  padding-left: 2em;
  margin-bottom: 2%;
  border-radius: 10px;
  background-color: lightblue;
}

.index_link {
  background-color: lightgreen;
  color: $shade-75;
  text-decoration: none;
  width: 95%;
  max-width: 95%;
  font-size: 20px;
  display: block;
  @include indent();
  padding: 0.5em;
  padding-left: 2em;
  margin-left: auto;
  margin-bottom: 2%;
  border-radius: 10px;
  letter-spacing: 0.5px;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }
}

.index_wrapper {
  @include indent();
  padding: 5%;
}

.index_wrapper-inner {
  @include indent();
  padding: 2%;
  margin-bottom: 2%;
  border-radius: 20px;
  background-color: linen;
}
