@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "../pug/blocks/booking-form/booking-form.scss";
@import "../pug/blocks/room-search/room-search.scss";
@import "../pug/blocks/search-form/search-form.scss";
@import "../pug/blocks/register/register.scss";
@import "../pug/blocks/login-form/login-form.scss";
@import "../pug/blocks/login-form/login-form.scss";
@import "../pug/blocks/header/header.scss";
@import "../pug/blocks/footer-sm/footer-sm.scss";
@import "../pug/blocks/footer-lg/footer-lg.scss";
@import "../pug/blocks/room-card-template/room-card-template.scss";
@import "../pug/blocks/visually-hidden/visually-hidden.scss";
@import "../pug/blocks/btn/btn.scss";



body {
    font-family: "Montserrat Regular";

    background: #E5E5E5; 
    padding-top: 50px;
    padding-bottom: 50px;
    // display: flex;
    // justify-content: space-between;
    // background-color: $purple-color;
}


