@mixin max-width {
  max-width: 1920px;
}

@mixin  min-width {
  min-width: 320px;
}

@mixin form-field {
  // padding: 12px 15px; // 8px;
  padding: 0.3em 0.5em;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;

    background-color: $white-color;
    border: 1px solid $shade-25;
    border-radius: 4px;

    &-hover,
    &:hover {
        color: $shade-75;
        border-color: $shade-50;
    }

    &-focus,
    &:focus {
        color: $shade-75;
        border-color: $shade-50;
    }
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin block {
  @include flex();
  flex-direction: column;
  background-color: #ffffff;
  padding: 1.5em;
  padding-top: 1em;
  // z-index: -2; // for buttons with gradients, :hover not working
}

@mixin index-block {
  margin: 20px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

/*---------------BUTTONS---------------*/

@mixin brightButton {
  color: $white-color;
  background-color: $purple-color;
  background: $grad-color-1;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }
}

@mixin lightButton {
  color: $purple-color;
  background-color: $purple-color;
  background: $grad-color-1;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
  &:active {
    opacity: 0.5;
    color: rgba(31, 32, 65, 0.5);
  }
}

//@mixin lightButton {
//  position: relative;
//  color: $purple-color;
//  background-color: #ffffff;
//  background-clip: padding-box; 
//  border: 3px solid transparent; 
//  &:before {
//    content: '';
//    position: absolute;
//    top: 0; right: 0; bottom: 0; left: 0;
//    z-index: -1;
//    margin: -3px;
//    border-radius: inherit; 
//    background-color: $purple-color;
//    background: $grad-color-1;
//  }
//  &:hover,
//  &:focus {
//    opacity: 0.5;
//  }
//  &:active {
//    opacity: 0.5;
//    color: rgba(31, 32, 65, 0.5);
//  }
//}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin indent($margin:0, $padding: 0) {
    margin: $margin;
    padding: $padding;
}

@mixin OpenSans {
  font-family: "Open Sans", "Arial", sans-serif;
}

@mixin Montserrat {
  font-family: "Montserrat", "Arial", sans-serif;
}

@mixin h1 {
  color: $shade-100;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  @include indent();
  margin-bottom: 20px;
}

@mixin h2 {
  color: $shade-100;
  @include OpenSans();
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.26;
}

@mixin h3 {
  color: $shade-100;
  @include Montserrat();
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
}

@mixin font-body {
  color: $shade-75;
  @include Montserrat();
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
}


// @mixin dropdown-bottom {
//   &::after {
//     content: "";
//     position: absolute;
//     top: 25%;
//     right: 10%;
//     width: 10%;
//     height: 10%;
//     border-bottom: 2px solid $shade-75;
//     border-right: 2px solid $shade-75;
//     transform: rotateX(-45deg);
//   }
// }
// 
// @mixin dropdown-top {
//   &::after {
//     content: "";
//     position: absolute;
//     top: 25%;
//     right: 10%;
//     width: 10%;
//     height: 10%;
//     border-bottom: 2px solid $shade-75;
//     border-right: 2px solid $shade-75;
//     transform: rotateX(45deg);
//   }
// }
