div.log-in
  h2.log-in-title Войти
      form.login-form(method='POST' action='#')
            div.login-form__group
              label(for='email1') Email:
              input#email1.login-form__control(type='email' placeholder='Email' name='email' required)
            div.login-form__group
              label(for='pw1') Password:
              input#pw1.login-form__control(type='password' placeholder='Пароль' name='password' required)
            button.btn.btn--login(type='submit') Войти
            div.login-form__footer
              - var authorised = false
              if authorised
                 p.login-form__text  Уже есть аккаунт на Toxin?
                 button.btn-tr.btn-tr--login(type='submit') Войти
              else   
                 p.login-form__text Нет аккаунта на Toxin?
                 button.btn-tr.btn-tr--create(type='submit') Создать