mixin dropdown(title1, number1, title2, number2, title3, number3, boolean)
 div.search-form__dropdown
 div.search-form__dropdown-top
  table.search-form__dropdown-table
   tr.search-form__dropdown-row
    th= title1
    td
     button(type='button' aria-label="Уменьшить количество").search-form__dropdown-btn -
     input(type='text' size='2' id='adults' name='adults-count' value= number1).search-form__dropdown-input
     button(type='button' aria-label='Увеличить количество').search-form__dropdown-btn +
   tr.search-form__dropdown-row
    th= title2
    td
     button(type='button' aria-label="Уменьшить количество").search-form__dropdown-btn -
     input(type='text' size='2' id='kids' name='kids-count' value= number2).search-form__dropdown-input
     button(type='button' aria-label='Увеличить количество').search-form__dropdown-btn +
   tr.search-form__dropdown-row
    th= title3
    td
     button(type='button' aria-label="Уменьшить количество").search-form__dropdown-btn -
     input(type='text' size='2' id='babies' name='babies-count' value= number3).search-form__dropdown-input
     button(type='button' aria-label='Увеличить количество').search-form__dropdown-btn +
 if boolean
    div.search-form__dropdown-bottom
     button.calendar__btn(type='button') Очистить
     button.calendar__btn.calendar__btn--submit(type='submit') Применить
  else
    
 