.select__dropdown-table{
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

.select__dropdown-row th,
.select__dropdown-row td {
  vertical-align: middle;
  min-width: 50%;
}

.select__dropdown-row th {
    text-align: left;
    font-size: 10px;
    line-height: 1.5;
    text-transform: uppercase;
    color: $shade-100;
    padding: 0.5em;
}

.select__dropdown-row td {
  text-align: right;
}


.select__dropdown-btn {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(31, 32, 65, 0.5);
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  padding: 0.5em 1em;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: none;
  cursor: pointer;
}


.select__dropdown-bottom {
  @include flex();
  justify-content: space-between;
  padding: 1em;
}

.select__dropdown-input {
  max-width: 40px;
  border: none;
  text-align: center;
  padding: 0.5em 1em;
}
