.landing .page-header{
  margin-bottom: 0;
}

.landing__presentation {
    position: relative;
    width: 100%;
    min-height: 825px;
    @include indent();
    background-image: url('../pug/pages/landing/landing-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 720px) {
    .landing__presentation {
      background-image: url('../pug/pages/landing/landing-img720@.jpg');
    }
}

@media screen and (max-width: 320px) {
    .landing__presentation {
      background-image: url('../pug/pages/landing/landing-img320@.jpg');
    }
}

.landing .room-search {
    margin: 0;
    position: absolute;
    top: 9%;
    left: 10%;
    width: 26%;
}

.landing__presentation-text {
    position: absolute;
    bottom: 1%;
    right: 8%;
    width: 20%;
    /*FONT*/
    font-size: 14px;
    line-height: 2;
    color: $shade-75;
    letter-spacing: 0.1em;

    text-align: right;
}

.landing__footer {
   margin: 0;
}
