//-Landing page-1
extends ../../template.pug

block content
 div.landing
  include ../../blocks/page-header/page-header--rus.pug
  div.landing__presentation
   include ../../blocks/room-search/room-search.pug
   div.landing__presentation-text Лучшие номера для вашей работы, отдыха и просто вдохновения
block foot
 div.landing__footer.page-footer--rus
  include ../../blocks/page-footer/page-footer--rus.pug 
